
.container{
  max-width: 1024px;
  margin: auto;
  padding: 2rem 0;
  min-height: calc(100vh - (135px + 2rem));
}

.home{
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 25%;
  }

  .header-image {
    background-size: cover;
  }
}



@media screen and (max-width: 600px) {
  .card {
    max-width: 80%;
  }
}
